html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body { /* 	font-family:Georgia, Times, serifs; */
	
}

.bar {
	background: #ecefe9;
	position: relative;
}

.bar-wide {
	height: 87px;
}

.logo {
	position: relative;
/* 	left: 33%; */
/* 	width:10% */
/* 	margin: auto; */
/* 	width: 70% */
}

.is-in-background {
	z-index: -1
}

.is-centered {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.nav-bar {
	padding-left:100px;
	padding-bottom:10px;
}

.nav-bar ul li {

	width: 100%;
	font-size: 10px;
	
}
.nav-bar ul li  a {
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	font-size: 15px;
}

.nav-bar-bottom {
	position: absolute;
	bottom: 0;
}

.nav-bar-small {
	height: auto;
	
}

}
.top-nav-bar {
	position: absolute;
	top: 0px
}
.is-slashed:before {
	
	content: "\007C";
	/* "\27a2\a0"; */
}

.app {
	
}

.app-background {
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	height: 100%;
	background: red;
	background: url(../img/background.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	
}

.bull { /*instead of bool */
	width:10%;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


/* #app-nav { */

/* 	position:relative */
/* } */

.app-nav {
	text-align: center;
/* 	position: relative; */
	;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 25px;
	color: #4a2d15;
	padding-top:10px;
	padding-bottom:10px;
	
}

.app-nav  a {
	color: #4a2d15;
	
}

.app-nav a {
	text-decoration: none;
	padding-left:10px;
	padding-right:50px;
}


/* .centered { */
/* 	position:relative; */
/* 	margin:0 auto; */
/* } */
.app-content-background {
	z-index:-1;
	
}
.app-content { 
	clear: left;
	
	height: 90%;
	width: 60%;
	
	margin: 0 auto;
/* 	background:url('../img/app-content-1-pixel.png'); */
/* 	//background-repeat:repeat; */
	 background-color: rgba(128,64,0,0.75);

	padding-top: 7px;
	
	z-index: 1;
}

.is-shade-top {
	box-shadow: 0px 3px 5px #888888;
}

.is-shade-bottom {
	box-shadow: -3px -3px 5px #888888;
}

.is-transpert {
	opacity: 0.6;
	filter: alpha(opacity = 60); /* For IE8 and earlier */
}

.is-transpert-meduim {
	opacity: 0.6;
	filter: alpha(opacity = 60); /* For IE8 and earlier */
}

.is-transpert-full { /* 	background-color:rgba(255,0,0,0.5); */
	opacity: 0.0;
	/*  	 filter:alpha(opacity=100); For IE8 and earlier */
}

.is-transpert-none {
	opacity: 1.0;
	filter: alpha(opacity = 0); /* For IE8 and earlier */
}

.is-one-line {
	margin: 0;
	list-style: none;
}

.is-one-line > li {
	display: inline
}

.app-nav  li {
	width: 20px;
	padding: 10px 10px 11px;
}
.open-menu a  {
	padding-right: 7px;

}
.open-menu:after{
	content: "\25BC";
	/* "\27a2\a0"; */
}

.realyhigh {
  background-color: #FFF;
    border: 4px solid #333;
    z-index: 100; /* Important to set this higher than .modal */
}