<!-- basic template for the app center object. -->


<% if ( title )  { %>
<div class="bull-title"><%= title %></div>
<% } %> 

	<div class="bull-image">

		<img src="resources/img/<%= plantImage %>"  alt="Smiley face" height="100" width="80">
	</div>
	
	<div class="bull-text">

	<ul class="is-no-bullet">
	<li>שם הפרח: <%= plantName %> </li>
	<li>צולם : <%= plantLocation%> </li>
	<li>תאריך : <%= plantDate %> </li>
	<li>נאסף על ידי משפחת : <%= plantPhotographer %> </li>
	
	</ul>
	</div>
	
	


